parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$num1 of function bccomp expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 2
			path: src/Api/Scalar/AbstractDecimalType.php

		-
			message: '#^Parameter \#2 \$num2 of function bccomp expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 2
			path: src/Api/Scalar/AbstractDecimalType.php

		-
			message: '#^Parameter \#1 \$num1 of function bcmul expects numeric\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Api/Scalar/AbstractMoneyType.php

		-
			message: '#^PHPDoc tag @var with type array is not subtype of native type list\<array\{string, int\<0, max\>\}\|string\>\|false\|null\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/DBAL/Types/SetType.php

		-
			message: '#^Parameter \#3 \$headers of class Laminas\\Diactoros\\Response constructor expects array\<non\-empty\-string, array\<string\>\|string\>, array\{content\-type\: string\|false, content\-length\: int\<0, max\>\|false\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Handler/FileHandler.php

		-
			message: '#^Parameter \#3 \$headers of class Laminas\\Diactoros\\Response constructor expects array\<non\-empty\-string, array\<string\>\|string\>, array\{content\-type\: string\|false, content\-length\: int\<0, max\>\|false, cache\-control\: ''max\-age\=21600''\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Handler/ImageHandler.php

		-
			message: '#^Class Application\\Model\\Log not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Log/Handler/DbHandlerFactory.php

		-
			message: '#^Parameter \#1 \$logRepositoryGetter of class Ecodev\\Felix\\Log\\Handler\\DbHandler constructor expects Closure\(\)\: Ecodev\\Felix\\Repository\\LogRepository, Closure\(\)\: Doctrine\\ORM\\EntityRepository\<Application\\Model\\Log\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Log/Handler/DbHandlerFactory.php

		-
			message: '#^Cannot access offset ''operations'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Middleware/SignedQueryMiddleware.php

		-
			message: '#^Trait Ecodev\\Felix\\Model\\Traits\\HasDescription is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Model/Traits/HasDescription.php

		-
			message: '#^Trait Ecodev\\Felix\\Model\\Traits\\HasInternalRemarks is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Model/Traits/HasInternalRemarks.php

		-
			message: '#^Trait Ecodev\\Felix\\Model\\Traits\\HasName is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Model/Traits/HasName.php

		-
			message: '#^Trait Ecodev\\Felix\\Model\\Traits\\HasUrl is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Model/Traits/HasUrl.php

		-
			message: '#^Trait Ecodev\\Felix\\Model\\Traits\\Log is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Model/Traits/Log.php

		-
			message: '#^Trait Ecodev\\Felix\\Model\\Traits\\Message is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Model/Traits/Message.php

		-
			message: '#^Trait Ecodev\\Felix\\Repository\\Traits\\LogRepository is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Repository/Traits/LogRepository.php

		-
			message: '#^Trait Ecodev\\Felix\\Repository\\Traits\\MessageRepository is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Repository/Traits/MessageRepository.php

		-
			message: '#^Trait Ecodev\\Felix\\Repository\\Traits\\Repository is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Repository/Traits/Repository.php

		-
			message: '#^Property Ecodev\\Felix\\Service\\DataRestorer\:\:\$allRelationTables \(array\<string, array\{table1\: class\-string, table2\: class\-string\}\>\) does not accept array\<array\<string, mixed\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Service/DataRestorer.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<array\{resource\: string, privileges\: array\<int, array\{privilege\: string\|null, allowed\: bool, allowIf\: array\<string\>, denyIf\: array\<string\>\}\>\}\> will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: src/Testing/Acl/AbstractAcl.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true and ''schema passes…'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: src/Testing/Api/AbstractServer.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Money\\\\Money'' and Money\\Money will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 6
			path: tests/Api/Scalar/CHFTypeTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Cake\\\\Chronos\\\\ChronosDate'' and Cake\\Chronos\\ChronosDate will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/Api/Scalar/DateTypeTest.php

		-
			message: '#^Method EcodevTests\\Felix\\Blog\\Model\\User\:\:getLogin\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Blog/Model/User.php

		-
			message: '#^Property EcodevTests\\Felix\\Blog\\Model\\User\:\:\$email \(string\|null\) is never assigned string so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: tests/Blog/Model/User.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/ConfigProviderTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Cake\\\\Chronos\\\\Chronos'' and Cake\\Chronos\\Chronos will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 3
			path: tests/DBAL/Types/ChronosTypeTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null and ''support null values'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/DBAL/Types/ChronosTypeTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Cake\\\\Chronos\\\\ChronosDate'' and Cake\\Chronos\\ChronosDate will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/DBAL/Types/DateTypeTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null and ''support null values'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/DBAL/Types/DateTypeTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/DBAL/Types/SetTypeTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Cake\\\\Chronos\\\\ChronosTime'' and Cake\\Chronos\\ChronosTime will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/DBAL/Types/TimeTypeTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null and ''support null values'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/DBAL/Types/TimeTypeTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertStringContainsString\(\) expects string, resource\|string\|null given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Log/Handler/MailerHandlerFactoryTest.php

		-
			message: '#^Method Ecodev\\Felix\\Model\\HasOtp@anonymous/tests/Model/Traits/HasOtpTest\.php\:18\:\:getLogin\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Model/Traits/HasOtpTest.php

		-
			message: '#^Method Ecodev\\Felix\\Model\\HasOtp@anonymous/tests/Model/Traits/HasOtpTest\.php\:55\:\:getLogin\(\) never returns string so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Model/Traits/HasOtpTest.php

		-
			message: '#^Parameter \#1 \$input of method OTPHP\\OTPInterface\:\:at\(\) expects int\<0, max\>, int\<\-26, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Model/Traits/HasOtpTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Imagine\\\\Image\\\\ImageInterface'' and Imagine\\Image\\ImageInterface will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Service/ImagineFactoryTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Imagine\\\\Image\\\\ImagineInterface'' and Imagine\\Image\\ImagineInterface will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Service/ImagineFactoryTest.php

		-
			message: '#^PHPDoc tag @var with type Doctrine\\ORM\\EntityManager is not subtype of native type PHPUnit\\Framework\\MockObject\\Stub\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/Service/MailerTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/UtilityTest.php
